.App {
  /* text-align: center; */
  background-color: #d02a02;
  color: #111;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.location {
  font-size: 50px;
  font-weight: 400;
}

.temperature {
  font-size: 150px;
  font-weight: 800;
}

.wind {
  font-size: 25px;
}

.sols {
  font-size: 35px;
}

.season {
  font-size: 25px;
}

.bottom-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
}

.spinner {
  text-align: center;
  font-size: 200px;
}
